### THE PROJECT SPECIFIES #################################################

### Node ###
# Built files
packages/eslint-config-*/.eslintrc.json
packages/prettier-config/.prettierrc.json

# Husky
.husky/_

# Ignorefiles
.*ignore

# Yarn v2
.yarn
yarn.lock
