### THE PROJECT SPECIFIES #################################################

### Node ###
# Husky
.husky/_

# Ignorefiles
.*ignore

# Yarn v2
.yarn
yarn.lock

### THE PROJECT SPECIFIES #################################################

packages/eslint-config-*/.eslintrc.json
packages/prettier-config/.prettierrc.json
